body{
    background-image: url(/img/gameAdd.jpg);
    background-size: auto;
    font-family: 'Anton', sans-serif;
}

input[type=text]{
    padding: .4em;
    width: 150px;
}

input[id=title]{
    margin-left: 6px;
    width: 151px;
}

input[id=online]{
    margin-left: 632px;
}

input[type=button]{
    margin-left: 610px;
    font-size: 25px;
    width: 170px;
}

label{
    margin-left: 40%;
    display: inline-block;
    text-align: right;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

label[for="online"]{
    margin-left: 0%;
}

.header{
    margin-top: 10px;
    margin-left: 590px;
    color: white;
}

#error{
    margin-left: 40%;
}
